body{
	background: #222;
}

p{
	color: #666;
}

a{
	color: #999;
}

.datamaps-subunits path{
	fill: #333 !important;
}

.datamaps-bubble {
	-webkit-animation-name: 'pulse_animation';
	-webkit-animation-duration: 2000ms;
	-webkit-transform-origin:70% 70%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes pulse_animation {
	0% { -webkit-transform: scale(0.9); }
	50% { -webkit-transform: scale(1.1); }
	100% { -webkit-transform: scale(0.9); }
}

.spinner {
  width: 15px;
  height: 15px;
  background-color: #333;
  display: inline-block;
  margin: 2px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
